.body-div{
    height: 700px;
    background-color:rgba(241, 235, 225, 0.779);
    background-image: url("https://img.freepik.com/premium-photo/wood-table-top-with-supermarket-grocery-store-aisle-interior-blurred-background_293060-16619.jpg");
}