.body1-div{
    height: 700px;
    background-color:rgba(241, 235, 225, 0.779);
    background-image: url("https://st4.depositphotos.com/9012638/25380/i/450/depositphotos_253804060-stock-photo-zero-waste-shopping-concept.jpg");
}