.container {
    
    position: relative;
    text-align: center;
    color:white;
}


  /* Centered text */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.conform{
    padding-bottom: 100px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 100px;
    margin-bottom: 100px;

}

.conform button{
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.moto
{
    background-color: rgb(237, 236, 231);
}