@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("https://www.shutterstock.com/image-photo/italian-food-ingredients-cooking-spaghetti-260nw-1898453773.jpg");
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

